/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

.paddedPanel {
	padding: 20px;
}

.simpleBorder {
	border: 4px solid blue;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.nav-justified {
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.nav-justified>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0;
	font-weight: bold;
	color: #777;
	text-align: center;
	background-color: #e5e5e5; /* Old browsers */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
	/* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5),
		color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
	/* Chrome 10+,Safari 5.1+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
	/* Opera 11.10+ */
	background-image: linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5',
		endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */
	background-repeat: repeat-x; /* Repeat the gradient */
	border-bottom: 1px solid #d5d5d5;
}

.nav-justified>.active>a,.nav-justified>.active>a:hover,.nav-justified>.active>a:focus
	{
	background-color: #ddd;
	background-image: none;
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
}

.nav-justified>li:first-child>a {
	border-radius: 5px 5px 0 0;
}

.nav-justified>li:last-child>a {
	border-bottom: 0;
	border-radius: 0 0 5px 5px;
}

@media ( min-width : 768px) {
	.nav-justified {
		max-height: 52px;
	}
	.nav-justified>li>a {
		border-right: 1px solid #d5d5d5;
		border-left: 1px solid #fff;
	}
	.nav-justified>li:first-child>a {
		border-left: 0;
		border-radius: 5px 0 0 5px;
	}
	.nav-justified>li:last-child>a {
		border-right: 0;
		border-radius: 0 5px 5px 0;
	}
}

.button-xtraLarge {
	font-size: :30
}

.topright {
	position: absolute;
	top: 0px;
	right: 0px;
}

@import
	url("//fonts.googleapis.com/css?family=Amaranth:400italic,400,700italic,700")
	;

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li {
	float: left;
	background: #292525;
	border-bottom: 2px solid #141313;
}

.time-container {
	padding: 20px;
	width: 804px;
	margin: 0 auto;
}

.time-container:after {
	content: "";
	display: table;
	clear: both;
}

.time-container>div {
	float: left;
}

.minutes-seconds {
	width: 240px;
}

.minutes-seconds li {
	width: 20px;
	height: 20px;
	margin: 2px;
}

.seconds-active {
	background: #6f5499 !important;
	border-bottom: 2px solid #6f5499 !important;
}

.footer {
	background-color: #f5f5f5;
	bottom: 0;
	height: 60px;
	position: absolute;
	width: 100%;
}

.progressbar-text {
	font-weight: bold;
}

.progressbar-remaining {
	font-size: 12px;
	font-style: italic;
}

.progressbar-outer {
	width: 100%;
	border: 1px solid black;
}

.progressbar-inner {
	width: 100%;
	border: 1px solid black;
	margin: 1px;
}

.progressbar-bar {
	width: 100%;
	height: 15px;
	margin: 1px;
}


.progressbar-fullbar {
	background: blue;
}

.progressbar-blankbar {
	background: #eee;
}

.link-color-1 {
	background-color:#a6cee3
}
.link-color-2 {
	background-color:#1f78b4
}
.link-color-3 {
	background-color:#b2df8a
}
.link-color-4 {
	background-color:#33a02c
}
.link-color-5 {
	background-color:#fb9a99
}
.link-color-6 {
	background-color:#e31a1c
}
.link-color-7 {
	background-color:#fdbf6f
}
.link-color-8 {
	background-color:#ff7f00
}
.link-color-9 {
	background-color:#cab2d6
}
.link-color-10 {
	background-color:#6a3d9a
}
.link-color-11 {
	background-color:#ffff99
}

.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}

.debugColor {
	background-color: red;
}